/* NAVBAR CONTAINER */

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 40px;

  background: #1e293b;
  color: white;

  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


/* LOGO */

.navbar-logo {

  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;
}


/* RIGHT SIDE LINKS */

.navbar-right {

  display: flex;
  align-items: center;
  gap: 22px;

}


/* NAV LINKS */

.navbar-right a {

  text-decoration: none;
  color: #e2e8f0;

  font-size: 15px;
  font-weight: 500;

  transition: 0.2s;
}


.navbar-right a:hover {

  color: #38bdf8;

}


/* LOGOUT BUTTON */

.logout-btn {

  background: #ef4444;
  color: white;

  border: none;
  padding: 7px 14px;

  border-radius: 6px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 500;

  transition: 0.2s;

}

.logout-btn:hover {

  background: #dc2626;

}