.search-bar {

  width: 200px;

  padding: 6px 10px;

  border-radius: 6px;

  border: 1px solid #cbd5e1;

  font-size: 13px;

  outline: none;

  transition: 0.2s;

  background: #f8fafc;

}

.search-bar:focus {

  border-color: #38bdf8;

  background: white;

}

