.sort-select {
  width: 100px;
  padding: 8px 12px;
  border-radius: 6px;
    max-width: 300px;
  border:2px solid #007bff;
  font-size: 13px;
  outline: none;
  transition: 0.2s;
  background: #f8fafc;
  cursor: pointer;
  
}

.sort-select:focus {
  border-color: #38bdf8;
  background: white;
}